[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "2.2.10"
ipython = "*"
django-taggit = "*"
django-taggit-templatetags2 = "*"
django-tinymce = "*"
django-richtextfield = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-taggit-serializer = "*"

[requires]
python_version = "3.7"
