{% extends 'base.html' %}

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" aria-describedby="authorHelp"
               placeholder="Enter your nickname.">
        <small id="authorHelp" class="form-text text-muted">Let us know who you are.</small>
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input type="password" class="form-control" id="text" placeholder="Write your comment here.">
    </div>
    <button type="submit" class="save btn btn-info">Send</button>
</form>
{% endblock %}
