<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COFFEE BLOG</title>
</head>

<header>
    <h2>{{ post.title }}</h2>
</header>


<body>
{{ post.text }}
<br/>
{{ post.publish_date }}
<br/>
<br/>
<a href="{% url 'posts:home' %}">Go back</a>
<br/>
<hr>

<h3>Comment section:</h3>
<a class="btn btn-default" href="{% url 'posts:comment' post.slug %}">Add comment</a>
<br/>
<br/>
{% for comment in post.comments.all %}
{% if comment.active %}
<div class="comment">
    <div class="date">{{ comment.publish_date }}</div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
</div>
{% endif %}
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}
</body>
</html>