{% extends 'base.html' %}

{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title">{{ post.title}}</h2>
    <p class="tags">
        Tags: {% for tag in post.tags.all %}
        <a href="{% url 'posts:tagged' tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="blog-post-meta">{{ post.publish_date }} by <a>{{ post.author }}</a></p>

    <p>{{ post.text|slice:":250" }}...</p>
    <a href="{% url 'posts:home' %}">Go back</a>
    <br/>
    <br/>
    <br/>
</div><!-- /.blog-post -->

<hr/>

<h3>Comment section:</h3>
<a href="{% url 'posts:comment' post.slug %}">Add comment</a>
<br/>
<br/>
{% for comment in post.comments.all %}
{% if comment.active %}
<div class="comment">
    <strong>{{ comment.author }}</strong>
    <br/>
    <a class="font-italic">{{ comment.publish_date }}</a>
    <br/>
    {{ comment.text|linebreaks }}
</div>
{% endif %}
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}

{% endblock %}

