{% extends 'base.html' %}
{%block content%}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            {% if tag %}
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                Posts tagged with #{{ tag.name }}:
            </h3>
            {% endif %}
            {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title}}</h2>
                <p class="tags">
                    Tags: {% for tag in post.tags.all %}
                    <a href="{% url 'posts:tagged' tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="blog-post-meta">{{ post.publish_date }} by <a>{{ post.author }}</a></p>

                <p>{{ post.text|slice:":250" }}...</p>
                <a href="{% url 'posts:detail' post.slug %}">Continue reading</a>
                <br/>
                <br/>
                <br/>
            </div><!-- /.blog-post -->
            {% endfor %}
        </div><!-- /.row -->
    </div>
</main><!-- /.container -->

{% endblock%}